<div class="p-3 my-3 border rounded d-flex justify-content-between align-items-center">
  <div class="flex-grow-1">
    <div class="h5 mb-2">
      <%= turbo_frame_tag "task_#{task.id}" do %>
        <span style="display: inline-block;">
          <% if task.completed? %>
            <%= button_to task, method: :patch, params: { task: { task_state_id: TaskState.find_by(name: 'todo').id } }, class: "btn btn-link p-0 border-0", style: "background: none;" do %>
              <i class="far fa-check-circle" style="color: <%= task.state.color %>; cursor: pointer;"></i>
            <% end %>
          <% else %>
            <%= button_to task, method: :patch, params: { task: { task_state_id: TaskState.find_by(name: 'done').id } }, class: "btn btn-link p-0 border-0", style: "background: none;" do %>
              <i class="far fa-dot-circle" style="color: <%= task.state.color %>; cursor: pointer;"></i>
            <% end %>
          <% end %>
        </span>
      <% end %>
      <%= link_to task.content.truncate(20), task, class: "text-black text-small" %>
    </div>

    <p class="mb-1">
      <% if task.project %>
        <%= link_to task.project.name, task.project, class: "text-black" %>
      <% end %>
      <%= link_to task.assigner.name, task.assigner, class: "text-black" %>
      ,
      <span class="text-black"><%= task.show_days_ago.round.to_s + "日前" %></span>
      <% task.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: "text-orange fw-bold badge" %>
      <% end %>
    </p>
  </div>

  <div class="text-center">
    <%unless task.completed? %>
      <% if task.overdue? %>
        <p class="overdue_mark">期限切れです！</p>
      <% else %>
        <p class="ongoing_mark"><%= days_to_deadline_as_string task %></p>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .text-black, .badge {
    text-decoration: none;
  }
  .text-orange, .badge {
    color: #f59e0b;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .text-small {
    font-size: 1.1rem;
    font-weight: normal;
  }
</style>
