<%= render 'layouts/h1', title: @tag.name %>

<div>
  <p class="h5 fw-bold mb-2">タグ名</p>
    <p class="h5 mb-2"><%= link_to @tag.name, @tag, class: "btn btn-primary text-white" %></p>
</div>

<div>
  <div class="d-flex">
    <p class="h5 fw-bold mb-2">タスク一覧</p>
    <div class="flex-grow-1"></div>
  </div>
  <%= render @tag.tasks %>

  <div class="d-flex">
    <p class="h5 fw-bol,dfrom_tag_partial: true  mb-2">文書一覧</p>
    <div class="flex-grow-1"></div>
  </div>

  <%= render @tag.documents, from_tag_partial: true %>

  <%= link_to '編集', edit_tag_path(@tag), class: "btn btn-sm" %>
</div>
